In [159]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline

In [160]:
air_data0 = pd.read_excel('pb_half.xlsx').iloc[:1542]
air_data = air_data0.replace('None', -200, regex= True)
air_data.head()
# workbook_dataframe = pd.read_excel(workbook_filename).iloc[:10]

            To Date    CO     NOx  Ozone    PM10  PM2.5
0  28-01-2019 01:00  0.95   93.73  11.47  196.50  130.0
1  28-01-2019 02:00  0.90  101.85  12.80  176.50  127.0
2  28-01-2019 03:00  0.65  100.45  17.73  159.75  119.0
3  28-01-2019 04:00  0.75   98.42  15.15  162.50  120.0
4  28-01-2019 05:00  0.80   85.67  16.65  155.50  120.5

In [161]:
air_data.shape

(1542, 6)

In [162]:
air_data.dropna(axis=0, how='all')

               To Date    CO     NOx  Ozone    PM10   PM2.5
0     28-01-2019 01:00  0.95   93.73  11.47  196.50  130.00
1     28-01-2019 02:00  0.90  101.85  12.80  176.50  127.00
2     28-01-2019 03:00  0.65  100.45  17.73  159.75  119.00
3     28-01-2019 04:00  0.75   98.42  15.15  162.50  120.00
4     28-01-2019 05:00  0.80   85.67  16.65  155.50  120.50
5     28-01-2019 06:00  0.80   84.40  16.10  183.75  140.25
6     28-01-2019 07:00  0.95  101.60  10.95  188.50  143.75
7     28-01-2019 08:00  1.23  108.33   8.45  214.00  157.75
8     28-01-2019 09:00  1.32  107.55  11.52  252.00  181.25
9     28-01-2019 10:00  1.30  110.40  17.75  277.25  195.00
10    28-01-2019 11:00  1.07  103.22  29.32  248.75  171.75
11    28-01-2019 12:00  0.80  103.32  47.70  215.75  134.00
12    28-01-2019 13:00  0.67   87.95  65.32  155.00   87.75
13    28-01-2019 14:00  0.72   78.00  75.42  124.25   65.00
14    28-01-2019 15:00  0.75   61.30  67.35  111.00   59.50
15    28-01-2019 16:00  0.70   56.80  66.50  110.00   54.75
16    28-01-2019 17:00  1.25   66.50  48.85  124.50   62.75
17    28-01-2019 18:00  0.65   68.97  35.62  117.00   56.50
18    28-01-2019 19:00  1.10   77.65  14.78  109.50   51.25
19    28-01-2019 20:00  1.32   84.90   9.70  158.75   96.75
20    28-01-2019 21:00  1.45   81.97   7.97  211.50  134.75
21    28-01-2019 22:00  1.57   94.33   6.58  220.00  151.75
22    28-01-2019 23:00  1.43   97.82   6.78  258.25  181.75
23    29-01-2019 00:00  0.85   72.60   7.72  268.25  184.25
24    29-01-2019 01:00  0.83   70.22   8.35  213.75  152.00
25    29-01-2019 02:00  0.75   67.53  14.55  183.25  135.00
26    29-01-2019 03:00  0.60   49.30  17.82  180.75  135.50
27    29-01-2019 04:00  0.60   51.60  18.62  170.25  129.00
28    29-01-2019 05:00  0.62   47.50  18.60  160.75  124.25
29    29-01-2019 06:00  0.62   54.42  15.10  144.50  105.50
...                ...   ...     ...    ...     ...     ...
1512  01-04-2019 01:00  1.50   22.55  29.62  153.00   48.50
1513  01-04-2019 02:00  1.52   22.73  22.70  141.75   44.00
1514  01-04-2019 03:00  1.40   23.70  26.05  141.25   53.75
1515  01-04-2019 04:00  1.48   19.62  29.73  134.50   58.50
1516  01-04-2019 05:00  1.55   17.42  28.77  143.00   66.25
1517  01-04-2019 06:00  1.70   18.10  23.48  175.00   84.75
1518  01-04-2019 07:00  1.85   22.55  17.05  247.25  143.00
1519  01-04-2019 08:00  1.92   28.80  18.73  296.50  159.00
1520  01-04-2019 09:00  1.85   31.65  28.05  328.50  156.25
1521  01-04-2019 10:00  1.70   30.95  39.90  288.50  127.00
1522  01-04-2019 11:00  1.50   21.95  51.15  201.25   79.50
1523  01-04-2019 12:00  1.35   19.33  59.38  152.00   39.25
1524  01-04-2019 13:00  1.55   20.77  65.05  150.25   21.25
1525  01-04-2019 14:00  1.55   20.30  65.47  140.75   22.00
1526  01-04-2019 15:00  1.52   19.75  65.05  149.50   28.25
1527  01-04-2019 16:00  1.48   20.25  66.72  134.50   21.25
1528  01-04-2019 17:00  1.48   19.60  65.03  137.50   24.50
1529  01-04-2019 18:00  1.45   23.20  52.17  130.75   21.50
1530  01-04-2019 19:00  1.55   26.15  46.78  122.25   16.00
1531  01-04-2019 20:00  2.05   56.40  21.65  132.50   21.50
1532  01-04-2019 21:00  2.18   54.60  18.52  181.25   46.75
1533  01-04-2019 22:00  2.30   67.30  12.85  183.00   46.00
1534  01-04-2019 23:00  2.25   64.30  14.82  175.75   51.00
1535  02-04-2019 00:00  1.88   45.20  21.48  187.50   63.50
1536  02-04-2019 01:00  1.73   45.23  15.55  151.50   57.75
1537  02-04-2019 02:00  1.75   43.05  17.55  149.25   61.75
1538  02-04-2019 03:00  1.65   33.20  14.95  161.75   67.25
1539  02-04-2019 04:00  1.80   30.60  15.25  196.25  112.25
1540  02-04-2019 05:00  1.88   31.38  10.68  251.25  160.25
1541  02-04-2019 06:00  1.92   30.90  10.00  274.00  163.25

[1542 rows x 6 columns]

In [163]:
features = air_data
air_data.head()

            To Date    CO     NOx  Ozone    PM10  PM2.5
0  28-01-2019 01:00  0.95   93.73  11.47  196.50  130.0
1  28-01-2019 02:00  0.90  101.85  12.80  176.50  127.0
2  28-01-2019 03:00  0.65  100.45  17.73  159.75  119.0
3  28-01-2019 04:00  0.75   98.42  15.15  162.50  120.0
4  28-01-2019 05:00  0.80   85.67  16.65  155.50  120.5

In [164]:
features = features.drop('To Date', axis=1)
features = features.drop('PM2.5', axis=1)
features = features.drop('NOx', axis=1)


# features = features.drop('From Date', axis=1)
# features = features.drop('From Date', axis=1)
# features = features.drop('From Date', axis=1)
# features = features.drop('From Date', axis=1)


print(features.head())

     CO  Ozone    PM10
0  0.95  11.47  196.50
1  0.90  12.80  176.50
2  0.65  17.73  159.75
3  0.75  15.15  162.50
4  0.80  16.65  155.50

In [165]:
labels = air_data['NOx'].values

In [166]:
features = features.values

In [167]:
from sklearn.model_selection import train_test_split

In [168]:
X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.3)

In [181]:
print("X_trian shape --> {}".format(X_train.shape))
print("y_train shape --> {}".format(y_train.shape))
print("X_test shape --> {}".format(X_test.shape))
print("y_test shape --> {}".format(y_test.shape))

X_trian shape --> (1079, 3)
y_train shape --> (1079,)
X_test shape --> (463, 3)
y_test shape --> (463,)

In [182]:
from sklearn.linear_model import LinearRegression

In [183]:
regressor = LinearRegression()
# regressor.fit(X_train, y_train)
print(regressor.fit(X_train, y_train).coef_)

[ 1.48800199 -0.69089539  0.34445426]

In [184]:
print("Predicted values:", regressor.predict(X_test))

('Predicted values:', array([  -0.86585724,  111.10719629,   29.36169305,   14.30344179,
         58.61922967,  135.70279812,  104.52667691,  114.6979143 ,
         63.39896748,  105.6336147 ,   92.60531913, -220.30112974,
         13.72519234,  237.5098997 ,   56.40734641,  121.06497395,
         44.24410483,   89.0602225 ,    4.1279363 ,   12.24425707,
         40.19232234,   22.67171361, -220.30112974,  222.13094519,
         -1.77460569,   97.43280906,   67.87147167,   41.11643244,
         45.83355208,  109.17710467,   13.34552901,   65.87674286,
         62.19575838,   49.22232872,   17.87316735,   57.07266147,
         34.74482529,   87.55807228,   51.0764373 ,   16.90164872,
         47.79757666,   49.83332897,  134.27993381,   20.36946064,
         14.52646832,   22.98763359,   40.86965272,  106.95539466,
         24.1125211 ,   74.378622  ,  116.60665538,    1.46700177,
         49.41956421,   33.69064461,   52.02668218,   55.10040797,
         89.97385549,  132.05590401,   84.02253787,   75.93749992,
         94.03992637,   -1.35450564,   11.21043644,   87.81808011,
         16.55393136,  102.30931887,   44.45583368,  104.11494208,
         92.77678187,   12.39276006,  154.09326492,   51.09157502,
         77.73352286,   94.87912482,   53.47426127,   65.51391065,
         39.68137556,   82.19150473,   81.22147647,   64.38956384,
         62.68143889,   23.47695317,   93.87087407,   97.18807903,
         68.25096741,   87.01973436,   39.57836508,   88.71925614,
         96.50670984,   35.58040166,   80.11680977,   87.42870051,
        130.96461833,   13.0759151 ,  100.07835927,   95.28906687,
         39.7418413 ,   91.47306497,  168.36233203,   19.57833338,
         27.28920223,  106.00640085,   34.81709304,  132.09160038,
        126.29649531,   43.22824822,   72.0750804 ,   63.83016053,
         30.66837924,   95.58908598,   94.94482188,   42.95492045,
         40.29460988,   -7.44265584,    0.82966126,   25.47010069,
         12.64681792,   56.48219188,   48.23492437,   43.25530768,
         72.65134234,   94.44279153,    2.98863429,   77.18601363,
          5.57967069,   18.55933034,   21.01492602,   91.37322074,
         95.2414848 ,   60.53595676,   51.26067244,   85.81388068,
         74.801949  ,   37.09433844,  206.61063714,   58.43124699,
         23.28452382,   90.20955779,   64.62804821,   18.53852962,
          1.59164282,   11.31312038,  -17.77290673,   68.02469708,
        100.49295361,   54.24219371,  141.3109252 ,   24.95550418,
        104.27305352,  123.49217221,   46.26702145,   55.83590813,
        135.05068052,    2.66603795,   44.10004292,   32.59951188,
         41.08365883,   91.37498408,   -3.95611012,   61.48820493,
         26.62935031,   95.34154774,   19.57320388,   77.1953103 ,
         21.84870485,    7.264673  ,   35.6502034 ,  123.34043732,
         33.96604293,   37.71501582,   50.08784926, -220.30112974,
         64.70024202,   62.37203672,  121.96738556,   75.05657865,
          3.93764575,    8.23263975,   82.66730009,   62.76773442,
         42.54117932,   41.74374997,   50.98440667,  107.01332385,
         64.36918647,   52.59073569,   57.50159358,  123.61168055,
         33.58415801,  169.7692425 ,   91.23862099,   35.0062086 ,
         42.48022492,   72.05041669,   67.84702815,   25.80399642,
         25.490483  ,   77.06381976,   59.60065929,   30.5085256 ,
         54.58971749,   72.27909731,   71.94858441,   96.19176667,
         67.2291966 ,   36.00206257,   94.93442923,   66.01227237,
         49.89909813,   52.89152509,   91.60033813,   89.11965664,
         91.23779956,  136.83810723,   19.16202638,   25.70164231,
         13.19305115,   86.59640726,   74.67039976,   67.77012074,
         81.30600966,  122.33662053,   77.06870585,  119.61408653,
         77.51428432,   80.9465656 ,   38.09570115,   77.71642974,
        121.99522326,   42.27252159,    6.528495  ,   26.68753658,
         15.56375308,  108.83078671,   37.12822976,  117.2016397 ,
         66.45516304,   45.32396034,   72.19057268,   39.78705293,
         65.34181869,   87.51045491,  117.70531746,   63.37020276,
         50.45699698,   61.73782783,   86.45613534,   45.44269493,
         47.69543791,   35.52789169,  105.72287279,   63.81879605,
         70.14938516,   96.30526716,  126.92306134,   90.77761725,
         58.91089153,   56.64979211,   31.35730551,   66.77467546,
         71.04583348,   56.5656589 ,   21.19112795,   99.78880073,
         23.5669413 ,   96.85360461,   44.96276203,    4.38050262,
         99.60772182,   10.38979482,   77.19656053,  129.6492869 ,
         57.32747849,   79.80766167,   86.81273208,   66.0742804 ,
         38.91920502,   41.73814821,   73.55712023,  -17.32427927,
         74.89124609,   88.93013787,    8.93371308,   58.48705981,
        139.05395056,   51.14437121,   98.33951886,    5.15960872,
         68.79474279,   38.18968133,  133.64870027,   92.8619452 ,
         62.34188496,  143.82626516,  119.57979402,   17.73524837,
         45.51758945,   13.16608596,   25.27188994,  128.13833603,
        254.57315948,   51.05066349,   84.7067074 ,   89.68791245,
         25.19220727,   44.65916662,   43.16992766,   24.4010277 ,
         27.97956555,   48.50921428,   21.45349656,   12.43973843,
         30.85807255,   64.09902574,   67.27944121,   67.75774207,
         78.32446764,   65.59057008,  110.80510446,  106.74951181,
         69.42238504,   32.90158639,   54.93748486,   65.32239952,
         66.21110519,  125.49441935,    7.55238989,   13.98047536,
         43.46214186,   68.07723147,   61.76164212,   59.32962615,
        119.77224084,   54.8871809 ,   32.62723552,   56.10590464,
         50.24454364,   61.30295937,   15.78648199,   75.72210223,
         26.97798531,   56.91113353,   17.93388365,   94.40992646,
         55.83946071,   47.48283985,   23.14400607,   92.41232545,
         41.39341358,   41.68863757,   13.23232055,   70.18247428,
         10.44584193,   11.9982085 ,   61.40773379,  101.98817727,
         66.12400331,   23.58402564,   51.55689373,   12.92522118,
         91.58113236,   15.7691879 ,   71.17435176,   49.11646974,
         97.58078937,   52.28538679,   25.27211575,   81.77276085,
         97.42392922,  109.18704289,   62.59172869,  155.4541278 ,
         98.6147545 ,   54.63379525,   65.7316262 ,   55.85283543,
         75.20276506,   81.26902598,   59.45287028,   76.87773628,
         -5.5008915 ,   56.19320118,   74.02037627,   51.24727879,
         60.55322616,   43.47727344, -220.30112974,    9.59435065,
         37.6231213 ,  -10.56789816,   13.56646044,  103.30765609,
         56.29730919,   42.19228952,  223.95955291,   45.41172647,
        121.67465099,   88.39786678,   78.34205712,   23.15546462,
        140.48431944,   34.93181987,   23.2397366 ,  107.3105608 ,
        155.26303981,  142.10433841,  129.41741285,   41.87087126,
        113.33767728,  108.917459  ,  125.6977658 ,  125.46028775,
        150.10712497,   13.84626785,  160.34122513,   51.70849291,
         80.04403669,  106.1213586 ,   45.62647119,   34.62885117,
         88.81856294,   25.45096326,   69.61420004,   73.9757071 ,
         49.17367893,   86.34398259,   19.96825035,  106.61971753,
         75.64715079,   60.10179315,   54.20214771,   61.29130252,
        108.93511407,  243.27949491,   62.16872885,   31.69761353,
         97.41164097,   53.15785397,  266.05584944,   57.74459317,
         31.65671072,  139.23251528,   82.83264732,   57.54884377,
        107.11811398,   72.95051096,   75.02914808,   -2.18101527,
         30.0500293 ,  144.38751351,   57.31579904,   78.09677821,
         83.71977156,   84.57919125,   22.70865176,   22.20764889,
         67.44153131,   53.1218295 ,   60.56291388,   27.89813023,
        214.23518891,   32.21340691,   48.17133057]))

In [185]:
print("R^2 score for liner regression: ", regressor.score(X_test, y_test))

('R^2 score for liner regression: ', 0.5920970695785677)