In [28]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline
import mpld3
mpld3.enable_notebook()

In [29]:
traffic_data = pd.read_csv('joined.csv').iloc[2:289]
# pollution_data = pd.read_excel('pb_half.xlsx').iloc[3793:3999]
traffic_data.head()
# pollution_data.head()

,timestamp,Free Flow Time(seconds),Free Flow Speed(KMPH),Current Time(seconds),Current Speed(KMPH),newtimestamp
2,NaN,NaN,NaN,NaN,NaN,05/07/19 0:10
3,NaN,NaN,NaN,NaN,NaN,05/07/19 0:15
4,NaN,NaN,NaN,NaN,NaN,05/07/19 0:20
5,NaN,NaN,NaN,NaN,NaN,05/07/19 0:25
6,NaN,NaN,NaN,NaN,NaN,05/07/19 0:30

In [30]:
removingNaN = traffic_data.fillna(0)
# removingNone = pollution_data.replace('None', -200, regex= True)

In [31]:
traffic_currentTime = removingNaN['Current Time(seconds)']
traffic_timestamp = removingNaN['newtimestamp']
# pollution_NOx = removingNone['NOx']

In [32]:
print(traffic_currentTime)
# print(removingNone)

2        0.0
3        0.0
4        0.0
5        0.0
6        0.0
7        0.0
8        0.0
9        0.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       0.0
16       0.0
17       0.0
18       0.0
19       0.0
20       0.0
21       0.0
22       0.0
23       0.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
30       0.0
31       0.0
       ...
259     56.0
260     55.0
261     68.0
262     55.0
263     41.0
264     59.0
265     55.0
266     41.0
267     41.0
268     42.0
269     42.0
270     42.0
271     42.0
272     42.0
273     42.0
274     42.0
275     42.0
276     42.0
277     42.0
278     53.0
279     61.0
280     42.0
281     42.0
282     42.0
283     91.0
284    127.0
285    110.0
286    103.0
287    127.0
288    110.0
Name: Current Time(seconds), Length: 287, dtype: float64

In [33]:
# pd.plot(traffic_timestamp, traffic_currentTime)
pd.to_datetime(traffic_timestamp)

2     2019-05-07 00:10:00
3     2019-05-07 00:15:00
4     2019-05-07 00:20:00
5     2019-05-07 00:25:00
6     2019-05-07 00:30:00
7     2019-05-07 00:35:00
8     2019-05-07 00:40:00
9     2019-05-07 00:45:00
10    2019-05-07 00:50:00
11    2019-05-07 00:55:00
12    2019-05-07 01:00:00
13    2019-05-07 01:05:00
14    2019-05-07 01:10:00
15    2019-05-07 01:15:00
16    2019-05-07 01:20:00
17    2019-05-07 01:25:00
18    2019-05-07 01:30:00
19    2019-05-07 01:35:00
20    2019-05-07 01:40:00
21    2019-05-07 01:45:00
22    2019-05-07 01:50:00
23    2019-05-07 01:55:00
24    2019-05-07 02:00:00
25    2019-05-07 02:05:00
26    2019-05-07 02:10:00
27    2019-05-07 02:15:00
28    2019-05-07 02:20:00
29    2019-05-07 02:25:00
30    2019-05-07 02:30:00
31    2019-05-07 02:35:00
              ...
259   2019-05-07 21:35:00
260   2019-05-07 21:40:00
261   2019-05-07 21:45:00
262   2019-05-07 21:50:00
263   2019-05-07 21:55:00
264   2019-05-07 22:00:00
265   2019-05-07 22:05:00
266   2019-05-07 22:10:00
267   2019-05-07 22:15:00
268   2019-05-07 22:20:00
269   2019-05-07 22:25:00
270   2019-05-07 22:30:00
271   2019-05-07 22:35:00
272   2019-05-07 22:40:00
273   2019-05-07 22:45:00
274   2019-05-07 22:50:00
275   2019-05-07 22:55:00
276   2019-05-07 23:00:00
277   2019-05-07 23:05:00
278   2019-05-07 23:10:00
279   2019-05-07 23:15:00
280   2019-05-07 23:20:00
281   2019-05-07 23:25:00
282   2019-05-07 23:30:00
283   2019-05-07 23:35:00
284   2019-05-07 23:40:00
285   2019-05-07 23:45:00
286   2019-05-07 23:50:00
287   2019-05-07 23:55:00
288   2019-06-07 00:00:00
Name: newtimestamp, Length: 287, dtype: datetime64[ns]

In [ ]:
plt.plot(traffic_timestamp, traffic_currentTime)